.container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2em 3em;
  max-width: 800px;
  align-items: center;
  margin: 20% auto;
  background-color: #333;
  border-radius: 0.5em;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > label {
    padding-bottom: 1em;
  }
}

.input-container {
  display: grid;
  grid-template-rows: repeat(4, 2.4em);
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  padding-left: 2em;
  margin: 0 auto;

  :first-child {
    justify-self: flex-start;
  }
}

.input-item {
  height: 2em;
  width: 100%;
  padding: 0;
  border-radius: 3px;
  border: none;
}

.select-age {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.select-gender {
  margin: 0;
  padding: 0;

  :nth-child(2) {
    margin-left: 1em;
  }

  .gender-input {
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 520px) {
  .container {
    padding: 0.5em;
    margin: 40% auto;
    font-size: 0.8em;
  }

  .input-container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .select-age,
  .select-height,
  .select-weight {
    padding-left: 0.4em;
    font-size: 0.8em;
  }
}
