.app {
  text-align: center;
  width: 90%;
  height: 90%;
  padding-top: 5em;
  padding-bottom: 5em;
  background: linear-gradient(150deg, #aa6d44 20%, #0c1414 95%);
  color: aliceblue;
  text-shadow: 2px 1px 2px #222;
  margin: 0 auto;
  font-size: 1.5em;
  border-radius: 5px;
}

@media screen and (max-width: 520px) {
  .app {
    width: 100%;
  }
}
